//- Pug Templating!
//- Homepage: https://jade-lang.com/
//- Docs: http://jade-lang.com/reference/

extends /layouts/application

block content
  h1(data-module="example") Hello World!
  p
    a(href="another.html") go another page